<%= form_for @stream do |f| %>
  <h1>Help me with...</h1>

  <div class="form-group">
    <%= f.text_area :comments, class: 'form-control', rows: 4 %>
  </div>

  <%= f.submit 'Get help', class: 'btn btn-primary btn-lg' %>
<% end %>
