<header>
  <h1 id="status">waiting for help...</h1>
  <h1 class="leave">
    <%= link_to 'leave the room', new_stream_path %>
  </h1>
</header>

<div class='stream'>
  <div id='me'></div>
  <div id='them'></div>
</div>

<!-- OpenTok Stuff -->
<script src='http://static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
<script type="text/javascript">
  var apiKey    = "<%= OPENTOK_API_KEY %>";
  var sessionId = "<%= @stream.opentok_id %>";
  var token     = "<%= @token %>";

  var session = OT.initSession(apiKey, sessionId);

  session.connect(token, function(error) {
    if (error) {
      console.log(error.message);
    } else {
      $('body').addClass('classy');
      session.publish('me', { width: 640, height: 480 });
    }
  });

  session.on({
    streamCreated: function(event) {
      session.subscribe(
        event.stream, 'them', { insertMode: 'append', width: 640, height: 480 }
      );
      $('#me').addClass('subscribed');
      $('#status').text('connected.');
    },
    streamDestroyed: function(event) {
      $('#me').removeClass('subscribed');
      $('#status').text('waiting for help...');
    }
  });
</script>
