<%= form_for @subscription do |f| %>
  <h1>Help others with...<h1>

  <div class="form-group">
    <input type="text"
           class="form-control"
           id="subscription_subjects"
           name="subscription[subjects]"
           placeholder="math chemistry computers">
  </div>
  <div class="form-group">
    <input type="email"
           class="form-control"
           id="subscription_email"
           name="subscription[email]" placeholder="you@example.com">
  </div>

  <%= f.submit 'Subscribe', class: 'btn btn-primary btn-lg shout' %>
<% end %>
