<div class="thanks">
  <h1>Thanks!</h1>
  <p>
    You will be notified at <code><%= @subscription.email %></code> when
    someone needs your help.
  </p>
  <p>
    <a href="/">&larr;</a>
  </p>
</div>
