/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-size: 24px;
  text-align: center;
  background: #eee;
}

h1 {
  text-align: left;
  color: #444;
  font-size: 48px;
}

form {
  padding-top: 20px;
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
}

header {
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 10px solid #eee;
}

header h1 {
  font-size: 32px;
  margin: 0;
  display: inline;
}

.btn {
  width: 100%;
}

.subscribed {
  margin: 0;
  float: left;
}

.container {
  width: 100%;
}

.stream {
  width: 1280px;
  margin: 0 auto;
}

.leave {
  color: #fff;
}

.classy {
  background: #000;
  color: #ccc;
}

.classy a {
  color: #a33;
}

.classy a:hover {
  color: #d33;
}

.classy header {
  border-bottom: 10px solid #222;
}

#me {
  width: 640px;
  margin: 0 auto;
  border-right: 5px solid #000;
}

#them {
}
